

html{
  font-size: 62.5%;
}
body{
  font-family: 'Quattrocento Sans', sans-serif !important;
  font-style: normal;
}

section {
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 40px 0px 20px 0px;
}

.background{
  position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#error{
  position: absolute;
    margin: 10px auto;
    left: 0;
    right: 0;
    width: fit-content;
    padding: 15px;
    font-size: 1.5em;
    font-weight: 700;
    background: white;
    color: #ff4a59;
    z-index: 9999;
    border-radius: 8px;
    border: 1px solid #ff4a59;
}

.loader {
  position: fixed;
    margin: auto;
    width: 65px;
    left: 0;
    right: 0;
    top: 47%;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #5d3edc;
  }
  33% {
    stroke: #ff4a59;
  }
  66% {
    stroke: #33ffc1;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #5d3edc;
  }
  33% {
    stroke: #ff4a59;
  }
  66% {
    stroke: #33ffc1;
  }
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
}


.info {
  border: 2px solid #33ffc1;
  border-radius: 8px;
  position: relative;
  height: -webkit-fill-available;
  overflow: auto;
}

img.pp-img {
  width: 15%;
  margin: 50px 25px;
}

.h1,
h1 {
  text-transform: initial;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
}

.h6,
h6 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 20px !important;
}

.shape-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.shape-top {
  position: absolute;
  max-width: 560px;
}

.shape-right {
  position: absolute;
  max-width: 560px;
  background-color: #F6F9FC;
}

.section {
  position: relative;
}

.section .shape-main {
  bottom: 0;
  width: 100%;
  height: 200%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(65%, 0%) rotate(-60deg);
  transform: translate(65%, 0%) rotate(-60deg);
  position: absolute;
  background-color: #5d3edc;
}

.section .shape-top {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(60%, -30%) rotate(-60deg);
  transform: translate(60%, -30%) rotate(-60deg);
  left: 50%;
  background-color: #ff4a59;
}

.section .shape-right,
.wrapper .shape-right {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(0%, -80%) rotate(60deg);
  transform: translate(0%, -80%) rotate(60deg);
}



.shape-background {
  background-color: #f9fbfd;
  width: 800px;
  height: 500px;
  display: block;
  border-radius: 120px;
  z-index: -1;
}

.shape-right.shape-background {
  width: 80%;
  height: 150%;
}

.dot {
  height: 120px;
  width: 120px;
  background-color: #F6F9FC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.banks {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 5%;
  border-radius: 20%;
  margin: 3px;
}

@media screen and (max-width: 1024px) {
  .banks {
    width: 6%;
  }
}

@media screen and (max-width: 670px) {
  .banks {
    width: 6%;
  }
  .details{
    font-size: 1em;
  }
  .details h1{
    font-size: 1.5em;
  }
  .instructions{
    font-size: 1.7rem;
  }
}

.footer {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Button */
.button,
.button:focus {
  width: 20%;
  min-width: 100px;
  padding: 0px 10px;
  border-radius: 10px;
  border: 3px;
  background: #FF4A59;
  border-style: solid;
  border-color: #FF4A59;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.button:hover {
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.cancel,
.cancel:focus {
  background: #EBEBEB;
  border-color: #EBEBEB;
  color: #000000;
}

@media (max-width: 768px) {

  .button,
  .button:focus {
    padding: 3px 6px;
  }
}

@media screen and (min-width: 1025px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }
}

@media screen and (max-width : 1024px) {
  .mobile {
    display: none;
    align-content: center;
  }

  .desktop {
    display: none;
  }
}

.instructions {
  font-weight: 300;
  margin-top: 10px;
}

/* Vertically align the 2 columns on the payment page */
.container .row {
  display: flex;
  align-items: center;
}

/* Transient gradient in button */
#success,
#close {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #5d3edc, #ffc371);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  border: 0px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#cancel {
  background-color: #D6D4D4;
  border-color: #D6D4D4;
}

input,
textarea {
  border-radius: 0.3rem;
  padding-left: 5px;
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .image {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .image {
    width: 35%;
  }
}

.middle {
  text-align: center;
  display: flex;
  justify-content: center;
}

.qr-parent {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.qr {
  position: relative;
  top: 0;
  left: 0;
}

.paynow {
  position: absolute;
  top: 80px;
  left: 70px;
  background-color: #ffffff;
  width: 30%;
  padding: 5px;
}